.body-contact-wrapper {
    position: relative;
    width: 100%;
}

.heading-wrapper {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: -0.6em;
}

.body-contact-text {
    position: absolute;
    text-align: center;
    font-family: "Georgia";
    padding: 0px 0px 110px 0px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 1000px) {
    .body-contact-background-image>img {
        opacity: 0.5;
        height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .body-contact-wrapper {
        padding: 3%;
    }
    .body-contact-background-image-mobile {
        display: none;
    }
}

@media only screen and (max-width: 999px) {
    .body-contact-background-image {
        display: none;
    }
    .body-contact-background-image-mobile>img {
        opacity: 0.5;
        height: 80vh;
        width: 100%;
        display: block;
    }
    .body-contact-text {
        font-size: 1.2em;
    }
    .contact-image-lighten {
        transition: 1s;
        opacity: 0.5;
    }
}