.body-contact-background-image>img {
    opacity: 0.5;
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-contact-wrapper {
    position: relative;
    width: 100%;
}

.body-contact-text {
    position: absolute;
    text-align: center;
    font-size: 1.3em;
    font-family: "Georgia";
    padding: 0px 0px 50px 0px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-image-lighten {
    transition: 1s;
    opacity: 0.5;
}