.body-product {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    padding: 2%;
}

.body-product-image>img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.product-name {
    align-self: center;
    text-align: center;
    font-size: 1.7em;
    font-family: "Georgia";
}

.product-details-content {
    align-self: center;
    font-size: 1.3em;
    font-family: "Georgia";
    padding: 0% 0% 0% 12%;
}

li {
    margin: 5px 0;
}

.product-name-padding-top-high {
    padding: 23% 10% 5% 10%;
}

.product-name-padding-top-med {
    padding: 21% 10% 5% 10%;
}

.product-name-padding-top-low {
    padding: 19% 10% 5% 10%;
}