.socialbtns a,
.socialbtns a:hover {
    text-decoration: none;
}

.socialbtns {
    display: flex;
    justify-content: space-between;
    margin: 12px 5% 0 0;
}

.socialbtns img {
    margin-right: 10px;
    margin-left: 10px;
    width: 30px;
    height: auto;
}

.socialbtns img:hover {
    transform: scale(1.3);
    transition: 0.3s;
    box-shadow: 10px 10px 5px grey;
}