/* Master Styles */

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0% 10%;
}

.banner-image>img {
    height: 200px;
    width: auto;
    display: block;
    margin: auto;
}

.banner-text {
    text-align: center;
    font-size: 4.8em;
    font-family: "Georgia";
    align-items: center;
    padding: 7% 0% 7% 0%;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #DCDCDC;
    padding: 0% 10%;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #DCDCDC;
}

.link-wrapper>div {
    margin: 10px;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 32px;
}

.link-wrapper>div a {
    color: #696969;
    text-decoration: none;
    transition: color 0.2s;
}

.link-wrapper>div:hover {
    border-bottom: 2px solid black;
}

.active-link {
    border-bottom: 2px solid black;
}

.active-link a {
    color: black !important;
}

.link-wrapper>div a:hover {
    color: black;
}

.body-home-background-image>img {
    height: 600px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-home-text {
    text-align: center;
    font-size: 1.4em;
    padding: 25px;
    font-family: "Georgia";
}