/* Master Styles */

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.banner-image>img {
    height: 275px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 38px 0px 38px;
    background-color: #DCDCDC;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #DCDCDC;
}

.link-wrapper>div {
    margin: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 32px;
}

.link-wrapper>div a {
    color: #696969;
    text-decoration: none;
    transition: color 0.2s;
}

.link-wrapper>div:hover {
    border-bottom: 2px solid black;
}

.active-link {
    border-bottom: 2px solid black;
}

.active-link a {
    color: black !important;
}

.link-wrapper>div a:hover {
    color: black;
}

.body-home-background-image>img {
    height: 800px;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-home-text {
    text-align: center;
    font-size: 1.5em;
    padding: 25px;
    font-family: "Georgia";
}

.items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-wrapper>img {
    position: relative;
    height: 350px;
    width: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.body-contact-background-image>img {
    opacity: 0.7;
    height: 800px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-contact-wrapper {
    position: relative;
    width: 100%;
}

.body-contact-text {
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    font-family: "Georgia";
    padding: 0px 0px 25px 0px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-lighten {
    transition: 1s;
    opacity: 0.7;
}