/* Master Styles */

body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.banner-image>img {
    height: 200px;
    width: auto;
    display: block;
    margin: auto;
}

.banner-text {
    text-align: left;
    font-size: 5em;
    font-family: "Georgia";
    padding: 50px 200px 50px 0px;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 38px 0px 38px;
    background-color: #DCDCDC;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #DCDCDC;
}

.link-wrapper>div {
    margin: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 32px;
}

.link-wrapper>div a {
    color: #696969;
    text-decoration: none;
    transition: color 0.2s;
}

.link-wrapper>div:hover {
    border-bottom: 2px solid black;
}

.active-link {
    border-bottom: 2px solid black;
}

.active-link a {
    color: black !important;
}

.link-wrapper>div a:hover {
    color: black;
}

.body-home-background-image>img {
    height: 650px;
    width: 1100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-home-text {
    text-align: center;
    font-size: 1.5em;
    padding: 25px;
    font-family: "Georgia";
}

.gallery-image-darken {
    transition: 0.9s;
    filter: brightness(20%);
}

.gallery-image-text-focussed {
    transition: 1s;
    font-size: 1.5em;
    font-family: "Georgia";
    color: lightseagreen;
    text-decoration: none;
}

.body-contact-background-image>img {
    opacity: 0.5;
    height: 650px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-contact-wrapper {
    position: relative;
    width: 100%;
}

.body-contact-text {
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    font-family: "Georgia";
    padding: 0px 0px 50px 0px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-about-background-image>img {
    opacity: 0.5;
    height: 700px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-about-wrapper {
    position: relative;
    width: 100%;
}

.body-about-text {
    position: absolute;
    text-align: center;
    font-size: 1.5em;
    font-family: "Georgia";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-image-lighten {
    transition: 1s;
    opacity: 0.5;
}

.about-image-lighten {
    transition: 1s;
    opacity: 0.5;
}