/* Master Styles */
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.banner-image > img {
    height: 275px;
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 38px 10px 38px;
    background-color: #DCDCDC;
}

.link-wrapper > div {
    margin: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 32px;
}

.link-wrapper > div a {
    color: #696969;
    text-decoration: none;
    transition: color 0.2s;
}

.link-wrapper > div:hover {
    border-bottom: 2px solid black;
}

.link-wrapper > div a:hover {
    color: black;
}

.body-home-background-image > img {
    height: 800px;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-text{
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
    font-family: "Georgia";
}

.items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item-wrapper > img {
    position: relative;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

