/* Master Styles */
body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.banner-image > img {
    height: 250px;
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.link-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 38px 38px 38px;
}

.link-wrapper > div {
    margin: 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    height: 32px;
}

.link-wrapper > div a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.link-wrapper > div:hover {
    border-bottom: 2px solid black;
}

.link-wrapper > div a:hover {
    color: black;
}

.body-background-image > img {
    height: 600px;
    width: 66%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.body-text{
    text-align: center;
    font-size: 1.5em;
    padding: 15px;
    font-family: "Georgia";
}

.items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: r1fr 1fr 1fr 1fr; */
}

.item-wrapper > img {
    position: relative;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

